.centered{
    display:flex;
    justify-content: center;
}

.backdrop{
    background-color: white;
    border-radius: 20px;
    border:4px gold solid;
    width: 23%;
    left: 36.5%;
}
.column{
    flex-direction: column;
}

.btn{
    border-radius: 5px;
    background-color:cadetblue;
    margin-bottom:10px;
    margin-top:10px;
    color: white;
    padding: 5px;
    font-size: 25px;
}
.alert{
    color:red;
}

.list-height{
    height:120px;
}
.name-select li{
    cursor: pointer;
}

.name-select li:hover, .name-select li:focus, .name-select li:active {
    background: darkseagreen;
}
input{
    margin: 10px;
    border: 2px solid seagreen;
    border-radius: 4px;
    padding: 12px 20px;
}

label{
    margin: 10px;
}


