ul li {
    list-style-type: none;  
}
i{
    cursor: pointer;
}
li{
    display:flex;
    align-items: center;
}
.center{
    display:flex;
    justify-content: center;
}

.backdrop{
    background-color: white;
    border-radius: 20px;
    border:4px gold solid;
    width: 80%;
    max-width: 400px;
}
.title-links a{
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
}
.title-links a:active, .title-links a:hover, .title-links a:focus {
color:#517664;
}
.item-list{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.nameItem{
    padding: 0 20px;
}
@media only screen and (min-width: 900px) {
    .backdrop{
        background-color: white;
        border-radius: 20px;
        border:4px gold solid;


    
    }

  }