.acnh-title {
  font-family: Cabin Sketch;
  background-color: white;
  border: 5px gold solid;
  border-radius: 20px;
  text-align: center;
  font-size:32px;
  width:50%;
}
.center {
  display: flex;
  justify-content: center;
}
.color-font{
    color:white;
    font-weight: 900;
}
nav {
  background-color: #517664;
}

a {
  color: black;
  cursor: pointer;
  display: flex;
  align-items: space-around;
  text-decoration: none;
  font-weight: 900;
}
a:hover, a:focus, a:active {
  color:gold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
    .direct {
        display:flex;
        flex-direction: column;
    }
  }