.centered{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.backdrop{
    background-color: white;
    border-radius: 20px;
    border:4px gold solid;


}

@media only screen and (min-width: 900px) {
    .backdrop{
        background-color: white;
        border-radius: 20px;
        border:4px gold solid;

    
    }
  }